@import '~antd/dist/antd.css';

.center {
    text-align: center;
}
header {
    padding: 30px;
}
.blocContent {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 63px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 63px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 63px 1px rgba(0,0,0,0.1);
}

